body{
	background-color: lightgoldenrodyellow;
}

h1 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.whitePanel{
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	box-shadow: grey 2px 2px 3px 2px;
	margin: 5px;
	padding: 10px;
}

.button {
	background-color: seagreen;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 5px;
	min-width: 70px;
	min-height: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	transition: 0.3s;
}

.button:hover {
	background-color: green;
}

td{
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
td.openMazeTile {
	background-color: greenyellow;
}
td.walledMazeTile {
	background-color: green;
}
td.hasPlayer {
	background-image: url('../images/rabbit.png');
}
td.hasGoal {
	background-image: url('../images/carrot.png');
}
td.hasPlayer.hasGoal {
	background-image: url('../images/rabbit_carrot.png');
}
